{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>
  <!-- Add the cover photo here -->
  <div class="cover-photo">
    <img src="{% static 'images/Background.jpg' %}" alt="">
    <div class="cover-text">
      <h1 class="h1 fw-bold">"Welcome to Sip n' Savor Café, a place where every day is a celebration."</h1>
      <i>Our café is a haven of warm, inviting vibes and comfort that serves handmade drinks. Sparkling with handmade drink, artisanal coffee among other delicious items in soft atmosphere. 
        It’s your one-stop shop for people who want the perfect fresh cup of coffee to start their day, or a rejuvenating evening tea, or meet your hunger pangs with something sweet-tasting, Sip n’ Savor Café is it.
         We are all about quality ingredients and excellent service in a homey environment that makes us not only a great place to get together with friends but also an ideal memory-making spot.</i>
         <br>
      </p>
    </div>
  </div>
  <!-- End cover photo -->
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">view</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}